<!DOCTYPE hmtl>
<html lang="en">

    <% include partials/head %>

    <body>
        
    <% include partials/navbar %>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <% include partials/navigation %>
                </div>

                <div class="col-md-9">
                    <!-- Website Overview -->
                    <div class="panel panel-default">
                         <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Website Overview</h3>
                        </div>

                        <div class="panel-body">
                            <div class="col-md-3">
                                <div class="well dash-box">
                                    <h4>Click on Advisement on the left to make an appointment</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </body>
</html>