<!DOCTYPE hmtl>
<html lang="en">

    <%include partials/head %>

    <body>
        <% include partials/navbar %>

        <section id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <% include partials/navigation %>
                    </div>

                    <div class="col-md-9">
                        <!-- Website Overview -->
                        <div class="panel panel-default">
                            <div class="panel-heading main-color-bg">
                                <h3 class="panel-title">Manage Advisement</h3>
                            </div>

                            <div class="panel-body">                       
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% for (const advisement of advisements) { %>
                                        <tr>
                                            <td><%= advisement.title %></td>
                                            <td>
                                                <form action="/viewManageAdvisement" method="post">
                                                    <input type="hidden" name="id" value="<%= advisement.id %>">
                                                    <button type="submit" class="btn btn-primary">View</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>

                            <div class="panel-footer">
                                <% if(faculty) { %>
                                <form action="/createAdvisement" method="get">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>