<!DOCTYPE hmtl>
<html lang="en">
    <body>
        <p>Please follow the link below to reset your password.</p>
        <a href="http://localhost:3000/passwordReset/<%= user.email %>/<%= user.verificationCode %>">Reset</a>
    </body>
</html>