<!DOCTYPE hmtl>
<html lang="en">
    <body>
        <p>Please follow the link below to verify your email address.</p>
        <a href="http://localhost:3000/verify/<%= regInfo.email %>/<%= regInfo.verificationCode %>">Verify</a>
    </body>
</html>